<h1 class="text-center mb-5">Registrate</h1>
<form [formGroup]="userForm" class="row row-cols-2 justify-content-center">
    <mat-form-field class="col-5" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" type="text" name="name"/>
    </mat-form-field>
    <div class="w-100 d-none d-md-block"></div>
    <mat-form-field class="col-5" appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="surname" type="text" name="surname"/>
    </mat-form-field>
    <div class="w-100 d-none d-md-block"></div>
    <mat-form-field class="col-5" appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email" type="text" name="email"/>
    </mat-form-field>
    <div class="w-100 d-none d-md-block"></div>
    <mat-form-field class="col-5" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="text" name="password"/>
        <mat-error *ngIf="passwordControl.hasError('required')" >
            Este campo es requerido
        </mat-error>
        <mat-error *ngIf="passwordControl.hasError('minlength')" >
            La contraseña debe contener como mínimo 6 caracteres.
        </mat-error>
    </mat-form-field>
    <div class="w-100 d-none d-md-block"></div>
    <button type="submit" (click)="onSubmit()" mat-button class="col-4 mt-3">Crear usuario</button>
</form>
