<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p></p>
      <button class="mb-4 mt-4" mat-icon-button>
        <mat-icon >home</mat-icon>
      </button>
      <div class="w-100 d-none d-md-block"></div>
      <button class="mb-4" mat-icon-button>
        <mat-icon >group</mat-icon>
      </button>
      <div class="w-100 d-none d-md-block"></div>
      <button class="mb-4" mat-icon-button>
        <mat-icon >school</mat-icon>
      </button>
      <div class="w-100 d-none d-md-block"></div>
      <button mat-icon-button class="mb-4">
        <mat-icon>bar_chart</mat-icon>
      </button>
      <div class="w-100 d-none d-md-block"></div>
      <button mat-icon-button class="mb-4">
        <mat-icon>share</mat-icon>
      </button>
    </mat-drawer>
    <div class="example-sidenav-content">
        <mat-toolbar>
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
             <mat-icon>menu</mat-icon>
            </button>
           <span>NN School</span>
           <span class="example-spacer"></span>
           <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
             <mat-icon>favorite</mat-icon>
           </button>
           <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
         </mat-toolbar>
         <main class="p-5">
            <app-home></app-home>
            <app-users></app-users>
         </main>
    </div>
</mat-drawer-container>